<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Tespok - Client Portal</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- bootstrap and fontawesome -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- google font -->
        <link href="//fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,700,700i" rel="stylesheet">

        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
        
        <script src="/js/sweetalert.min.js"></script>

        <!-- select 2 -->
        <link href="/css/select2.min.css" rel="stylesheet" />
        <script src="/js/select2.min.js"></script>

        <link href="/css/select2-bootstrap.min.css" rel="stylesheet" />

        <!-- custom -->
        <link rel="stylesheet" href="styles.css">
        <script src="/js/axios.min.js"></script>
        <script src="/js/interval.js"></script>
    </head>
    <body onload="generateToken()">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        {% comment %} first commit {% endcomment %}
        {% comment %} second commit {% endcomment %}

        {% comment %} 1st commit {% endcomment %}
        {% comment %} 2st commit {% endcomment %}

        {% comment %} 3rd commit {% endcomment %}
        {% comment %} comment here {% endcomment %}

        {% comment %} new set of commits {% endcomment %}
        {% comment %} second set of commits {% endcomment %}
        {% comment %} third set of commits {% endcomment %}

        {% comment %} comment here {% endcomment %}
        {% comment %} first commit {% endcomment %}
        {% comment %} second commit {% endcomment %}
        {% comment %} third commit {% endcomment %}

        {% comment %} another {% endcomment %}

        {% comment %} FIRST {% endcomment %}
        {% comment %} SECOND {% endcomment %}
        {% comment %} THIRD {% endcomment %}
        
        <script src="" async defer></script>
        <main>
            <section class="row signup">
                
                <div class="col-md-3 signup_left">
                    <img src="/images/landing1.jpg"/>
                    <blockquote class="signup_quote">“The leading association of choice in <span class="quote_stress">peering services</span> & steering ICT development.”</blockquote>                    
                </div>
                <div class="col-md-9 signup_right">
                    <div class="row">
                        <div class="col-md-12 ">
                            <div class="nav_menu">
                            <form class="form-inline">
                                <div class="form-group" style="margin-top: 0px;">
                                  <small id="passwordHelpInline" class="text-muted" style="font-size: 18px;">
                                    Already have an Account?
                                  </small>
                                  <!-- <a href="https://portal.plugin.ke/"><button class="btn btn-primary nav_button">Sign In</button></a> -->
                                  <a href="https://portal.plugin.ke/"><input type=button value='Sign In' class="nav_button"></a>
                                  <a href="https://www.tespok.co.ke/"><img src="/images/Union.svg" class="union"/></a>
                                </div>
                              </form>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-12" >
                            <div class="signup_form" style="margin-left:196px;">
                                <h2>Member's Portal Sign UP</h2>
                                <span class="subtitle">Tespok Peering Members Portal Onboarding</span>

                                <form>
                                    <div class="form-group">

                                        <label for="organization" style="margin:10px 0">Member Organization</label>
                                        <!-- <input type="text" class="form-control required" id="organizationName" aria-describedby="emailHelp" placeholder="Organization Name"> -->
                                        <!-- <input list="brow" id="organization" class="form-control required" type="text" name="organization"> -->
                                        <select name="organization" id="organization" class="form-control required select-search" type="text" style="width:100%; height:50px;">
                                            <option value="">Select Organization</option>
                                            <option value="Access Kenya Group">Access Kenya Group</option>
                                            <option value="Airtel Kenya Ltd">Airtel Kenya Ltd</option>
                                            <option value="Angani Ltd">Angani Ltd</option>
                                            <option value="American Towers">American Towers</option>
                                            <option value="AfriQ Network Solutions Ltd">AfriQ Network Solutions Ltd</option>
                                            <option value="AMAZON">AMAZON</option>
                                            <option value="Bandwidth and Cloud Services Ltd">Bandwidth and Cloud Services Ltd</option>
                                            <option value="BICS">BICS</option>
                                            <option value="BRCK">BRCK</option>
                                            <option value="BSC-Rwanda">BSC-Rwanda</option>
                                            <option value="China Telecom">China Telecom</option>
                                            <option value="China Mobile International">China Mobile International</option>
                                            <option value="CloudFlare">CloudFlare</option>
                                            <option value="CMC Networks">CMC Networks</option>
                                            <option value="Compfix Data Ltd">Compfix Data Ltd</option>
                                            <option value="Craft Silicon">Craft Silicon</option>
                                            <option value="Eaton Towers">Eaton Towers</option>
                                            <option value="Edge Link">Edge Link</option>
                                            <option value="Embarq">Embarq</option>
                                            <option value="Frontier Optical Networks Limited">Frontier Optical Networks Limited</option>
                                            <option value="Facebook">Facebook</option>
                                            <option value="Google">Google</option>
                                            <option value="Hurricane Electric">Hurricane Electric</option>
                                            <option value="Internet Solutions Ltd">Internet Solutions Ltd</option>
                                            <option value="IWay Africa Ltd">IWay Africa Ltd</option>
                                            <option value="JamboPay Ltd">JamboPay Ltd</option>
                                            <option value="Jamii Telecommunications Ltd">Jamii Telecommunications Ltd</option>
                                            <option value="KENET">KENET</option>
                                            <option value="KENIC">KENIC</option>
                                            <option value="KenyaWeb">KenyaWeb</option>
                                            <option value="Kemnet Technologies">Kemnet Technologies</option>
                                            <option value="Kooba Africa">Kooba Africa</option>
                                            <option value="Kenya Revenue Authority">Kenya Revenue Authority</option>
                                            <option value="Liquid Telecom">Liquid Telecom</option>
                                            <option value="Lyca Digital">Lyca Digital</option>
                                            <option value="MessageLabs Africa">MessageLabs Africa</option>
                                            <option value="Microsoft">Microsoft</option>
                                            <option value="MTN Business Kenya">MTN Business Kenya</option>
                                            <option value="Multichoice Kenya">Multichoice Kenya</option>
                                            <option value="MTN GLOBAL">MTN GLOBAL</option>
                                            <option value="MyISP Ltd">MyISP Ltd</option>
                                            <option value="Master Card">Master Card</option>
                                            <option value="Node Africa">Node Africa</option>
                                            <option value="Packet Clearing House">Packet Clearing House</option>
                                            <option value="PCCW Global">PCCW Global</option>
                                            <option value="Roke Telkom">Roke Telkom</option>
                                            <option value="Safaricom">Safaricom</option>
                                            <option value="Seacom">Seacom</option>
                                            <option value="Simbanet">Simbanet</option>
                                            <option value="SportPesa">SportPesa</option>
                                            <option value="Syokinet">Syokinet</option>
                                            <option value="Sombha Networks">Sombha Networks</option>
                                            <option value="Swiss comm">Swiss comm</option>
                                            <option value="Telkom Kenya">Telkom Kenya</option>
                                            <option value="TESPOK">TESPOK</option>
                                            <option value="VERISIGN">VERISIGN</option>
                                            <option value="Vodacom Business">Vodacom Business</option>
                                            <option value="Wananchi">Wananchi</option>
                                            <option value="Workonline Communications">Workonline Communications</option>
                                            <option value="WIOCC">WIOCC</option>
                                        </select>
                                    
                                        <div id="toggle-hide" class="toggle-hide">
                                            <label for="username" style="margin:10px 0">Full Name</label>
                                            <!-- <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Organization Name"> -->
                                            <input id="username" class="form-control" type="text" name="username" required="">

                                            <label for="email" style="margin:10px 0">Official Email Address</label>
                                            <input id="email" class="form-control" type="email" name="email" required="">
                                        </div>
                                    </div>
                                    <div class="continue">
                                        <button type="button" id="btn-continue" class="btn btn-primary btn-continue toggle-disabled" disabled>Continue</button>
                                        <button type="button" id="btn-submit" class="btn btn-primary btn-submit" onclick="requestAccess()">Sign Up <i class="fa fa-arrow-right"></i></button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                
                
            </section>
        </main>
        {% comment %} this is a random comment {% endcomment %}
        <script>
            $(document).ready(function() {
                $('.select-search').select2({
                    theme: 'bootstrap'
                });
            });

            $(document).on('change keyup', '.required', function(e){

                /*console.log("reached here");
                $('.select-search').select2(); */

                let Disabled = true;
                 $(".required").each(function() {
                   let value = this.value
                   if ((value)&&(value.trim() !=''))
                       {
                         Disabled = false
                         $(".btn-continue").css("background-color","#28B79C");
                         $(".btn-continue").css("border-color","#28B79C");
                       }else{
                         Disabled = true
                         return false
                       }
                 });
                
                if(Disabled){
                     $('.toggle-disabled').prop("disabled", true);
                   }else{
                     $('.toggle-disabled').prop("disabled", false);
                   }



                $('#btn-continue').click(function() {
                    $('#toggle-hide').show(500);
                    $('.btn-continue').hide(0);
                    $('.btn-submit').show(0);
                });
            });
            
            function requestAccess(){

                var org = document.getElementById("organization").value;
                var orgName = removeSpaces(org);
                var name = document.getElementById("username").value;
                var email =  document.getElementById("email").value;
                
                var postData = {
                    tenancyName: orgName, 
                    name: name,
                    adminEmailAddress: email, 
                    isActive: false
                };

                console.log(postData);
    
                let axiosConfig = {
                headers: {
                    'Content-Type': 'application/json',
                    Authorization: 'Bearer '+authToken,
                }
                };
                
                axios.post('https://cors-anywhere.herokuapp.com/https://portal.plugin.ke/api/services/app/Tenant/Create', postData , axiosConfig)
                .then(function (response) {
                    console.log(response);
                    swal("Submission Successful!", "Your request has been received and currently being reviewed. Once approved you will receive a confirmation email with instructions to login", "info");
                })
                .catch(function (error) {
                    console.log(error);
                    swal("Oops","The Organization is already registered","error");
                });
            }
    
            function removeSpaces(string) {
                return string.split(' ').join('');
            }
        
        </script>
    </body>
</html>